PORT=5000
MONGODB_URI=mongodb+srv://eleazar_db_user:aJqFALoHkcNjUu4q@kinggai.wtohtgn.jblebbe.mongodb.net/?appName=Kinggai
JWT_SECRET=your-secret-key-change-this
ADMIN_EMAIL=admin@kinggai.com
ADMIN_PASSWORD=changeme123